@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: opensans;
    src: url(../../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(../../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: yellowtail;
    src: url(../../fonts/Yellowtail/Yellowtail-Regular.ttf);
}